/************************************
GENERAL PAGE SETTINGS
*************************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto', sans-serif;
}
/************************************
 RULES
*************************************/
/************************************
 RULES
*************************************/
/************************************
RULES
*************************************/
/************************************
RULES
*************************************/
/************************************
RULES
*************************************/
/************************************
 RULES
*************************************/
/************************************
RULES
*************************************/
/************************************
RULES
*************************************/