/************************************
GENERAL PAGE SETTINGS
*************************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto', sans-serif;
}
/************************************
MAIN SECTIONS RULE (HEADER-MAIN)
*************************************/
#top-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    /* debug */
    height: 60px;
}
#wrapper{
    display: flex;
    height: calc(100vh - 60px);
    margin-top: 60px;

}
#sidebar{
    width: 150px;
    height: calc(100vh - 60px);
    position: fixed;
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
    /* debug */
}
#main-sec{
    height: 100%;
    width: calc(100vw - 150px);
    margin-left: 150px;
    /* debug */
}
#main-content{
    display: block;
    margin-top: 150px;
    overflow-y: auto;
}
#blue-nav{
    position: fixed;
    margin-left: 150px;
    width: calc(100vw - 150px);
    background-color:#1b72e8;
    /* debug */
}
img.img-fix{
    width: 41px;
    height: 42px;
}
img.img_fix{
    width: 100px;
}
/************************************
NAVBAR RULES
*************************************/
.position_relative{
    position: relative;
}
.navbar-expand .navbar-nav .dropdown-menu {
    position: absolute;
    left: -7rem;
}
#top-nav i.fa-magnifying-glass{
    position: absolute;
    top:0.7rem;
    left: 1rem;
}
.bg-grey{
    background-color:#e5e5e5 ;
}

@media all and (min-width: 1px ){
    a.none{
        display: none;
    }
}

@media all and (min-width:768px) {
    a.none{
        display:none;
    }    
}

@media all and (min-width: 992px){
    a.none{
        display: block;
    }
    a.display{
        display: none;
    }

}

/************************************
SIDEBAR RULES
*************************************/
.sidebar-container{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1rem;
}
.sidebar-container a {
    margin: 0 1rem;
    color: white;
    text-decoration: none;
}
.sidebar-container .icon_container{
    width: 100%;
    display: flex;
    margin: 1rem 0;
}
.icon_container:hover{
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
}
.icons{
    color: white;
    display: block;
    align-self: center;
    width:30px;
}
@media all and (max-width: 768px){
   .hidden {
    display: none;
   } 
   #sidebar{
    width: 65px;
   }
    #blue-nav {
        width: calc(100vw - 65px);
        margin-left: 65px;
    }
   #main-sec{
    width: calc(100vw - 65px);
    margin-left: 65px;
    margin-top: 180px;
   }
   a.nav-link{
    padding-right: 1rem;
   }
}
/************************************
BLUE NAV RULES BREADCRUMBS
*************************************/
.bg_color{
    background-color:#165bba;
}
.height{
    height: 20px;
    min-width: 18px;
    font-size: 0.8rem;
    color: white;
    text-decoration: none;
    text-align: center;
    text-wrap: nowrap;
}
.height:hover {
    color: white;
    cursor: pointer;
}
.white{
    color: white;
}
/* off canvas rules */
.offcanvas-end_custom{
    width: 600px;
    top: 0;
    right: 0;
    width: 600px;
    border-left: 1px solid rgba(0, 0, 0, .2);
    transform: translateX(100%);
}
.form-label{
    text-align: left;
    font-weight: 500;
}



@media all and (max-width: 768px){
    .flex-sm-wrap-reverse_max{
        flex-wrap: wrap-reverse;
    }
    .order-sm-3_custom {
        order: 1 ;
        text-align: left;
    }
    .order-sm-2_custom {
        order: 2;
        text-align: left;
    }
    .order-sm-1_custom {
        order: 3;
        text-align: left;
    }
}
@media all and ( max-width: 992px){
    .pills_none{
        display: none;
    }
}

/************************************
MAIN-SECTION RULES
*************************************/
/* TOP LEFT (OR TOP IN SD MD) */
/* table */
.table-container{
    padding: 0rem 1rem;
}
tr,
td,
tbody,
th{
    border-style: none;
    font-weight: 400;
}
.border_fix{
    border-bottom: 1px solid #e4e7eb ;
}
.red{
    background-color: red;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}
.block{
    display: block;
}
/************************************
 RULES
*************************************/
/************************************
RULES
*************************************/
/************************************
RULES
*************************************/